<div class="card border-0 rounded-0 hover-shadow mb-5">
  <a href="{{ .Permalink }}">
  {{ if .Params.Image }}
  <img class="rounded-circle img-fluid ml-4 mt-4" src="{{.Params.Image | relURL }}" style="width: min-content;">
  {{else if .Params.Email}}
  <img class="rounded-circle img-fluid ml-4 mt-4" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" style="width: min-content;">
  {{ end }}
  </a>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p>{{ .Params.Description }}</p>
    <ul class="list-inline">
      {{ range .Params.Social }}
      <li class="list-inline-item"><a class="text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
