<div class="card p-0 border-primary rounded-0 hover-shadow">
	<div class="text-center">
  		<img class="card-img-top rounded-0 w-50" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
	</div>
	  <div class="card-body">
		<ul class="list-inline mb-2" style="text-align:center;">
		  <li class="list-inline-item"><i class="ti-calendar"></i> {{ .Params.Duration }}</li>
		  <li class="list-inline-item"><i class="ti-bookmark-alt"></i> {{ .Params.Category }}</li>
		</ul>
		  <center>
			<h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
		  </center>
		<p class="card-text mb-4 text-justify" style="text-align: center;">{{ .Summary | truncate 100 }}</p>
		  <center>
			<a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more"}}</a>
		  </center>
	  </div>
</div>
