<li class="card border-0 rounded-0 hover-shadow" data-lang="{{ .Params.Lang }}">
  <div class="card-img position-relative">
	  <div class="event_image_box" style="">
		<a href="{{ .Permalink }}">
		 <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
		</a>
	  </div>
	  <div class="card-date">
		  <span>{{ .Date.Format "02" }}</span><br>{{ .Date.Format "Jan" }}<br>{{ .Date.Format "2006" }}
	  </div>
	</div>
	<div class="card-body">
		<!-- location -->
		<p><i class="ti-location-pin text-primary mr-2"></i>{{ .Params.Location | markdownify }}</p>
		<h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4><br>
		<div style="width: 100%; display:inline-block;">
			<div style="display: inline-block; float: left; min-height:20px; margin-top: 0px; vertical-align: middle; padding-top: 2px;">{{ i18n "langue" }} </div>
			<div style="display: inline-block; float: left; padding-top: 0px; padding-left: 10px;">
					<div style="width: 20px; height: 20px; border-radius: 10px; background-image:url('{{ printf "images/icon_%s.png" .Params.Lang | relURL }}'); background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
			</div>
		</div>
	</div>
</li>

<style type="text/css">

.event_image_box {
	width:275px;
	height: 105px;
	display: inline-block;
	float:right;
}
 @media (min-width: 200px) and (max-width: 574px) {
	 
}
 @media (min-width: 575px) and (max-width: 769px) {
	 .event_image_box {
		 width: 170px;
	 }
}
 @media (min-width: 770px) and (max-width: 989px) {
	 .event_image_box {
		 width: 265px;
	 }
}
 @media (min-width: 990px) and (max-width: 1199px) {
	 .event_image_box {
		 width: 225px;
	 }
	 
}

 @media (min-width: 1200px) {
	 .event_image_box {
		 width: 275px;
	 }
}
</style>
