{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}


<style type="text/css">
@media (min-width: 200px) and (max-width: 991px) {
	#our_value_box_img {
		height:350px;
		min-height: 350px;
		}
	#our_value_img {
		background-position-y:-600px;
		}
	#against_value_box_img {
		height:350px;
		min-height: 350px;
		}
	#against_value_img
		{
		background-position-y:-300px;
		}
	}
@media (min-width: 992px) and (max-width: 1199px) {
	#our_value_box_img {
		height:750px;
		min-height: 750px;
		}
	#against_value_box_img {
		height:750px;
		min-height: 750px;
		}
	}
@media (min-width: 1200px) and (max-width: 1399px) {
	#our_value_box_img {
		height:680px;
		min-height: 680px;
		}
	#against_value_box_img {
		height:670px;
		min-height: 670px;
		}
	}
@media (min-width: 1400px) and (max-width: 1599px) {
	#our_value_box_img {
		height: 620px;
		min-height: 620px;
		}
	#against_value_box_img {
		height: 620px;
		min-height: 620px;
		}
	}
@media (min-width: 1600px) and (max-width: 1699px) {
	#our_value_box_img {
		height: 600px;
		min-height: 600px;
		}
	#against_value_box_img {
		height: 620px;
		min-height: 620px;
		}
	}
@media (min-width: 1700px) {
	#our_value_box_img {
		height: 570px;
		min-height: 570px;
		}
	#against_value_box_img {
		height: 600px;
		min-height: 600px;
		}
	}
	
</style>

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
		{{ if .count }}
			<h2 class="text-white"><span class="count" data-count="{{ .count }}">0</span>{{ .unit }}</h2>
		{{ else }}
			<h2 class="text-white">{{ .nocount }}{{ .unit }}</h2>
		{{ end }}
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->


<!-- banner-feature -->
{{ if $data.homepage.banner_feature.enable }}
{{ with $data.homepage.banner_feature }}
<section class="section" style="">
  <div class="container">
    <div class="row">
	  <div class="col-12" style=" padding-top:0px;">
		<h2>{{ i18n "title_our_values" | humanize }}</h2>
        <p>{{ i18n "text_our_values" | humanize }}</p>
	  </div>
	</div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5" style="" id="our_value_box_img">
		<div class="row feature-blocks justify-content-between img_box_left p-0" style="height:100%; margin-top: 50px;">
      	  <div id="our_value_img" class="w-100" style=" height: 100%; background-size: cover;  background-image: url('{{ .image | absURL }}'); box-sizing: border-box; background-position: center;"></div>
		</div>
      </div>
      <div class="col-xl-8 col-lg-7 " id="our_value_box_text">
        <div class="row feature-blocks2 justify-content-between p-5" style="box-sizing:border-box; margin-top:20px;">
          {{ range .feature_item }}
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
			<div class="row" style="">
				<div class="col-sm-3" style="">
					<i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
				</div>
				<div class="col-sm-3" style="padding-top:10px; padding-left:14px;">
					<h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
				</div>
			</div>
			<div class="w-100">
				<p style="text-align:justify;">{{ .content | markdownify }}</p>
			  </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->



<!-- banner-contre-valeur -->
{{ if $data.homepage.banner_against_value.enable }}
{{ with $data.homepage.banner_against_value }}
<section class="section" style="padding-top:0px;">
  <div class="container">
    <div class="row">
	  <div class="col-12" style=" padding-top:0px; text-align: left;">
		<h2>
			{{ i18n "title_our_against_values" | humanize}}
		</h2>
        <p>{{ i18n "text_our_against_values" | humanize }}</p>
	  </div>
	</div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-8 col-lg-7 " id="against_value_box_text">
        <div class="row feature-blocks2 justify-content-between p-5" style="box-sizing:border-box; margin-top:20px;">
          {{ range .feature_item }}
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
			<div class="row" style="">
				<div class="col-sm-3" style="">
					<i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
				</div>
				<div class="col-sm-3" style="padding-top:10px; padding-left:14px;">
					<h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
				</div>
			</div>
			<div class="w-100">
				<p style="text-align:justify;">{{ .content | markdownify }}</p>
			  </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-xl-4 col-lg-5" style=" min-height: 450px;" id="against_value_box_img">
		<div class="row feature-blocks justify-content-between img_box_left p-0" style="height:100%; padding-left: 0px; padding-right: 0px; margin-top: 50px;">
      	  <div id="against_value_img" class="w-100" style=" height: 100%; background-size: cover;  background-image: url('{{ .image | absURL }}'); box-sizing: border-box; background-position: center;"></div>
		</div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-contre-valeur -->

<!-- member -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "members" | humanize }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- member -->
      {{ range first 3 (where site.RegularPages "Type" "member")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "member" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /member -->

{{ end }}
