{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-1 order-lg-2">
  {{ "<!-- latest post -->" | safeHTML }}
  <div class="bg-white">
    <h4 class="mb-4">{{ i18n "latest_article" }}</h4>
    {{ "<!-- post-item -->" | safeHTML }}
    {{ range first 5 ( where site.Pages "Type" "post" )}}
    <div class="media border-bottom border-color pb-3 mb-3">
      <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.Image | absURL }}"></a>
      <div class="media-body">
        <a href="{{ .Permalink }}">
          <h5 class="mt-0">{{ .Title }}</h5>
        </a>
	{{ if ne ( substr .Params.Lang 0 2 ) ( substr .Lang 0 2 ) }}
	<div class="icon_round" style="background-image:url('{{ printf "images/i18n/%s-flag-icon.png" ( substr .Params.Lang -1 2 ) | relURL }}');" title="{{ .Params.Lang }}"></div>
	{{ end }}
	{{ if .PublishDate }}
        {{ .PublishDate.Format "02 Jan 2006" }}
	{{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "tags" }}</h4>
    {{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}
    <ul class="list-inline tag-list">
      {{- range $name, $items := site.Taxonomies.tags }}
	      {{ if findRE (printf "/tags/%s/" $name) $.RelPermalink }}
	      <li class="list-inline-item mb-2 font-secondary"><a href="{{ `blog/` | relLangURL }}#bcontent">{{ $name }}</a></li>
	      {{ else }}
	      <li class="list-inline-item mb-2"><a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}#bcontent">{{ $name }}</a></li>
	      {{- end }}
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
	  <h4 id="tcategories" class="mb-4">{{ i18n "categories" }}</h4>
    {{- if isset site.Taxonomies "categories" }}
    {{- if not (eq (len site.Taxonomies.categories) 0) }}
    <ul id="lcategories" class="list-unstyled">
      {{- range $name, $items := site.Taxonomies.categories }}
	      {{ if findRE (printf "/categories/%s/" $name) $.RelPermalink }}
		<li class="border-bottom"><a href="{{ `blog/` | relLangURL }}#bcontent" class="d-block pb-3 mt-3 font-secondary">{{ $name | title | humanize }}</a></li>
	      {{ else }}
		<li class="border-bottom"><a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}#bcontent" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
	      {{- end }}
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}
