<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  {{ if site.Params.top_header }}
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-4 text-center text-lg-left">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
{{ if site.Params.mobile }}
            <li class="list-inline-item">
              <a class="text-color mr-3" href="tel:{{ site.Params.mobile }}"><strong>{{ i18n "call" | upper }} : </strong> {{ site.Params.mobile }}</a></li>
{{ end }}
            <li class="list-inline-item">
              <a class="text-color" href="mailto:{{ site.Params.email }}"><strong>{{ i18n "email" | upper }} : </strong> {{ site.Params.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  <!-- navbar -->
  <div class="navigation w-100 {{ if site.Params.top_header }} top-hider {{ end }}">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand mx-1 ml-lg-0 ml-xl-4" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid"
            src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" title="{{ site.Params.Home }}" style="max-height: 60px;"></a>
        <button class="navbar-toggler rounded-0 px-2 mr-4" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
          <!-- site.Menus -->
          <ul class="navbar-nav ml-auto">
            <li>
		    <form action="{{ "/search/" | absLangURL }}">
			<div class="input-group px-4 px-lg-0">
				<input type="search" class="form-control rounded text-center text-dark px-1" style="background-color:#EEE8" placeholder="{{ i18n "search..." | humanize }}" name="s">
				<button class="btn btn-outline-primary px-3 px-lg-1 px-xl-3 rounded" type="submit">🔍</button>
			</div>
		</form>
            </li>
            {{ range site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ i18n .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ cond (le (i18n .Name | len) 0) .Name (i18n .Name) }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>

          <!-- Language List -->
          {{ if .IsTranslated }}
          <select class="m-2 border-0" id="select-language" onchange="location = this.value;" style="background-color:#fff4; -webkit-appearance: none; -moz-appearance: none; appearance: none;">
            {{ $siteLanguages := site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
            </option>
            {{ else }}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
          </select>
          {{ end }}

          <!-- site.Params.social -->
	  <div class="mx-lg-1 ml-xl-2 mr-xl-4 my-3 d-lg-flex">
            {{ range site.Params.social }}
	    <li class="list-inline-item ml-xl-1"><a class="d-inline-block text-primary hzoom14" href="{{ .link | safeURL | relLangURL | replaceRE "^.*/(mailto:.+)$" "$1" }}" title="{{ i18n .title }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </div>

        </div>
      </nav>
  </div>
</header>
<!-- /header -->
