{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.homepage.donate.enable }}
{{ with $data.homepage.donate }}
<!-- donate -->
<section class="section">
	<div class="container">
    	<div class="row">
      		<div class="col-12">
		  		<h2>{{ i18n "donate_titre_main" | humanize }}</h2>
	  		</div>
      		<div class="col-12">
		  		<span style="line-height: 25px;">
		  			{{ i18n "donate_texte_main" | humanize }}
		  		</span>
	  		</div>
		</div>
    	<div class="row" style="margin-top: 30px;">
      		<div class="col-12">
				<div style="display: inline-block;">
        			<!--- <img style="object-fit: cover;" src="" alt="{{ .Title }}" class="img-fluid"> -->
					<a href="{{ $data.homepage.donate.june_link | absURL}}">
						<img style="object-fit: cover;" src=" {{ $data.homepage.donate.june_logo | absURL }} " alt="{{ .Title }}" class="img-fluid" width="100px">
					</a>
				</div>
				<div style="display: inline-block;">
					{{ i18n "donate_texte_type" | humanize }}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- donate -->
 
{{ end }}
{{ end }}

{{ end }}
