{{ define "main" }}

<!-- courses -->
<section class="section">
  <div class="container">
	<div class="row">
	  <div class="col-12">
		<!-- member category list -->
		<ul class="list-inline text-center filter-controls mb-5">
		  <li class="article_lang_all" data-filter="all">{{ i18n "all" }}</li>
		  {{ $categories := slice }}
		  {{ range .Data.Pages }}
		  {{ $categories = $categories | append .Params.Lang }}
		  {{ end }}
		  {{ range ( $categories | uniq ) }}
			<li class="article_lang_icon" id="course" name="course_{{ . }}" style="background-image: url('{{ printf "images/icon_%s.png" . | relURL }}');" data-filter="{{ . | urlize }}"></li>
		  {{ end }}
		</ul>
	  </div>
	</div>
	<!-- course list -->
	<div class="row filtr-container">
	  <!-- course item -->
	  {{ range .Data.Pages }}
	  <div data-category="{{ .Params.Lang | urlize }}" class="col-lg-4 col-sm-6 filtr-item">
		{{ .Render "course" }}
	  </div>
	  {{ end }}
	</div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}